canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
  }
  .starfish {
    cursor: url('images/pointer1PNG.png'), auto;
  }